@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
 background-color: #ececec;
}
.bg-secondary{
    background-color: #9fd3c7;
}
.bg-tertiary{
    background-color: #385170;
}
.bg-quaternary{
    background-color: #142d4c;
}
.mobile-nav{
    @apply fixed top-20 left-0 bg-secondary w-full h-1/3;
}
.mobile-nav li{
    @apply w-full h-full py-3 text-center;
}

.project-desc{
    @apply absolute top-0 left-0 right-0 bottom-0 bg-secondary opacity-0 duration-500 hover:opacity-100;
}

.btn{
    @apply px-5 py-3 rounded bg-tertiary text-white  hover:border-2;
}

.btn-up{
    @apply fixed right-10 bottom-10 font-bold text-red-400 text-4xl opacity-80 hover:opacity-100;
}

html{
    scroll-behavior: smooth;
}

.whatsappIcon:hover{
    background: #128c7e;
     color:white;
     border-radius: 20px;
}
.linkedinIcon:hover{
    background: #0077B5;
    color:white;
    border-radius: 5px
}
.instagramIcon:hover{
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    color:white;
    border-radius: 5px
}